body{
    background-image: url("background.jpg");
    height: 100vh;
    background-size: cover;
}
.cont{
    padding: 4%;
    overflow: hidden;
}
.cont h1{
    float: left;
    color: aqua;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    
}
.cont h2{
    float: left;
    color: aqua;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
    
}
.cont button{
    float: right; 
    text-align: center;
    padding: 20px 25px;
    border: 2px solid;
    background: aqua;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 750;
    cursor: pointer;
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card{
    height: 450px;
    width: 300px;
}
.card .title{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid aqua;
}
.something{
    text-align: center;
    justify-content: center;
}
.something input{
    width: 80%;
    padding: 2%;
}
.something button{
    width: 50%;
    height: 50px;
    border: 2px solid;
    background: aqua;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 750;
    cursor: pointer;
}
